body {
    background-color: #dddddd;
}
a {
    text-decoration: none;
    color: #999999;
    font-weight: bold;
}
a:hover {
    color: #777777;
}

.center {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

