{% extends ../base.html %}

{% block body %}
    <div style="text-align: center; color: #999999; margin-top: 200px">
        <h1 style="font-size: 500%">Usernado</h1>
        <p>
            <!-- <a href="#" target="_blank">Docs</a>&nbsp;&nbsp;&nbsp;&nbsp; -->
            <a href="https://github.com/reganto/usernado" target="_blank">Github</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://gitlab.com/reganto/usernado" target="_blank">Gitlab</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://reganto.ir/category/Usernado/" target="_blank">Blog</a>&nbsp;
        </p>
    </div>
{% end %}

