{% extends ../base.html %}

{% block body %}
    <div style="text-align: center; color: #999999; margin-top: 200px">
        <h1 class="w3-wide" style="font-size: 790%">Tornado</h1>
        <p>
            <a href="http://tornadoweb.org" target="_blank">Docs</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://gitlab.com/reganto/tornado" target="_blank">Repository</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://gitlab.com/reganto/tornado-utilities" target="_blank">Utilities</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://groups.google.com/forum/#!forum/python-tornado" target="_blank">Mailing list</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://reganto.blog.ir/category/Tornado/" target="_blank">Blog</a>&nbsp;
        </p>
    </div>
{% end %}

