<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body onload="sendForm()">

    <form id="hideform" action="{{ url }}" method="post">
        {% module xsrf_form_html() %}
        {% for key in kwargs %}
        <input type="hidden" name="{{ key }}" value="{{ kwargs[key] }}" />
        {% end %}
    </form>

    <script !src="">
        function sendForm() {
            document.getElementById('hideform').submit();
        }
    </script>

</body>
</html>
